/*

TiPod v1.0
Author: graphinghandheld, hymenopus

*/

@import url("https://fonts.googleapis.com/css?family=Google+Sans");

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes button-hover {
  to {
    background-color: #3a69e0;
  }
}

@keyframes slide-up {
  to {
    top: 100%;
  }
}

@keyframes tile-hover {
  to {
    background-color: #eeeeee;
  }
}

@keyframes tile-zoom {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } to {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

html {
  font-family: "Google Sans", "Arial", "sans-serif";
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
  width: 100px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  background-color: #42adf4;
}

button:hover {
  animation: button-hover 0.5s;
  animation-fill-mode: forwards;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
  animation: none;
}

button.tile-back-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#stage-1, #stage-2, #stage-3, #stage-4, #stage-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#lockscreen, #home {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#lockscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  color: #ffffff;
}

#lockscreen #time {
  margin-top: 100px;
  font-size: 64pt;
}

#home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #ffffff; /* Convert to HEX in release. */
}

.tile {
  background-color: #ffffff;
  border-radius: 15%;
  width: 250px;
  height: 300px;
  padding: 25px;
  overflow: hidden;
  box-shadow: 5px 1px 10px #444444;
  margin: 20px;
  cursor: pointer;
}

.tile:hover {
  animation: tile-hover 0.5s;
  animation-fill-mode: forwards;
}

.tile.clicked {
  animation: tile-zoom 0.25s;
  animation-fill-mode: forwards;
  cursor: auto;
}

#start-tiri-mic {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 5%;
}

.message-send {
  min-width: 100px;
  float: right;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4286f4;
  color: white;
}

.message-return {
  min-width: 100px;
  float: left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a13fcc;
  color: white;
}

#tiri {
  padding-left: 5%;
}
